p Olá, #[strong #{manhole.user.name}].
|
|
p Esse é um alerta automatico do #[strong Adote um Bueiro], quero te avisar que já faz mais de #{days} dias que o bueiro #[strong #{manhole.name}] que você adotou não é cuidado.
|
|
p Se você cuidou dele mas não atualizou, não tem problema, basta entrar agora no #[a(href='https://adote-um-bueiro.herokuapp.com') site] e atualiza-lo, ta bom?
|
|
hr
|
|
p Se infelizmente você não consegue mais cuidar do bueiro, peço que você abandone ele, eu sei, é triste mesmo, mas a gente entende.
|
|
br
|
|
p Um abração do Adote um Bueiro!

